.page-footer {
    background-color: #041338;
    height: 70px;
    text-align: center;
    padding: 22px;
}

.footer-copyright {
    color: lightblue;
}

.link-name {
    color: red;
    font-weight: bold;
}

.link-name:hover {
    color: indianred;
    text-decoration: none;
}